__pycache__
*.egg-info
/.coverage
/.coverage.*
/dist
/build
docs/build
docs/source/_autosummary
examples/onion_example_files
examples/analysis_workflow/water_lens.json
examples/info_gain/trj_*.npy
tests/systems/coex/.*
tests/systems/.*
