/*DOCS SIDEBARS AND CENTERING*/
.sidebar-drawer,
.sidebar-container,
.toc-drawer {
    width: 15em;
    min-width: 15em;
}
@media (min-width: 65em) {
    .content {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 82em) {
    .page {
        justify-content: center;
    }
    .toc-drawer {
        position: fixed;
        right: 0;
        top: 0;
    }
}

.tutorial-card {
  height: 280px;                 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tutorial-card-img {
  height: 180px;                
  width: 100%;
  object-fit: contain;           
  margin: 0 auto;
  display: block;
}


.tutorial-card-title {
  margin-top: auto;             
  padding-top: 10px;
  font-weight: 600;
  text-align: center;
}

